/* @media screen and (max-width: 1200px) {

} */

@media (max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .open-btn{
        display: block;
    }

}

@media (max-width: 400px) {
    .sidebar{
        width: 100%;
    }

}