/* @media screen and (max-width: 1200px) {

} */







/* Maaz Edition */



/* CSS for desktop screens */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Hide items with class 'hideOnMobile' on mobile screens */
.hideOnMobile {
    display: block;
}

/* CSS for mobile screens using media queries */
@media screen and (max-width: 768px) {
    /* Hide sidebar and 'hideOnMobile' items by default on mobile */
    .sidebar {
        display: none;
    }

    .hideOnMobile {
        display: none;
    }

    /* Show sidebar toggle button and restyle for mobile */
    .open-btn {
        display: block;
    }

    /* Additional mobile styles for main-menu or other elements */
    /* Example: Adjustments for the logo size, button size, etc. */
}
